<!doctype html>
<title>Summer's Day</title>
<style>
  h1,p {
    margin-left: auto;
    margin-right: auto;
    width: 35%
  }

  h1 {
    font-size: 40px;
    margin-top: 2.5em;
    border-bottom: 2px solid #000066;
  }

  p {
    font-size: 23px;
    margin-top: 0.5em
  }

  a {
    color: #000066;
  }
</style>
<script type="text/javascript"
  src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block body %}{% endblock %}
